.pizza1-1-icon1,
.wood-2045380-1920-1-icon1 {
  position: absolute;
  top: 111px;
  left: 15px;
  width: 1751px;
  height: 1006px;
  object-fit: cover;
}
.pizza1-1-icon1 {
  left: 9px;
  width: 1757px;
}
.restaurant-website-child,
.restaurant-website-item {
  position: absolute;
  box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
}
.restaurant-website-child {
  top: 100px;
  left: 15px;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(39, 39, 39, 0.05) 0.01%,
    rgba(31, 31, 31, 0.05) 0.02%,
    rgba(0, 0, 0, 0.06) 13.02%,
    rgba(0, 0, 0, 0.5)
  );
  width: 1786px;
  height: 1017px;
}
.restaurant-website-item {
  top: 533px;
  left: 154px;
  background-color: var(--color-tomato);
  width: 586px;
  height: 13px;
}
.craving-for-a1,
.lorem-ipsum-dolor7 {
  position: absolute;
  top: 613px;
  left: 154px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 599px;
  height: 325px;
}
.craving-for-a1 {
  top: 240px;
  left: 55px;
  font-size: var(--font-size-82xl);
  line-height: 108.5px;
  font-family: var(--font-quattrocento);
  text-align: center;
  width: 902px;
  height: 215px;
}
.image-2-icon,
.image-3-icon,
.restaurant-website-inner {
  position: absolute;
  top: 16.49px;
  left: 1470.12px;
  width: 111.92px;
  height: 87.35px;
  object-fit: cover;
}
.image-2-icon,
.image-3-icon {
  top: 24px;
  left: 1681px;
  width: 57px;
  height: 60px;
}
.image-2-icon {
  top: 29px;
  left: 1586px;
  width: 63px;
  height: 52px;
}
.lorem-ipsum-is2 {
  position: absolute;
  top: 1421px;
  left: 231px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 677px;
  height: 420px;
}
.dough-3082589-1920-1-icon {
  position: absolute;
  top: 1368px;
  left: 987px;
  border-radius: var(--br-3xs);
  width: 631px;
  height: 506px;
  object-fit: cover;
}
.restaurant-website-child1 {
  position: absolute;
  top: 1404px;
  left: 231px;
  background-color: var(--color-tomato);
  box-shadow: 3px 6px 18px rgba(0, 0, 0, 0.25);
  width: 535px;
  height: 4px;
}
.about-us2,
.restaurant-website-child2 {
  position: absolute;
  left: 637px;
  width: 526px;
}
.about-us2 {
  top: 1216px;
  font-size: var(--font-size-41xl);
  font-family: var(--font-quattrocento);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
}
.restaurant-website-child2 {
  top: 1289px;
  background-color: var(--color-firebrick);
  height: 10px;
}
.explore-the-wide1 {
  position: absolute;
  top: 2153px;
  left: 250px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 1315px;
  height: 378px;
}
.carousel1,
.gallary1,
.menu2 {
  position: absolute;
  top: 2021px;
  left: 647px;
  font-size: var(--font-size-41xl);
  font-family: var(--font-quattrocento);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 474px;
  height: 52px;
}
.carousel1,
.gallary1 {
  top: 3264px;
  left: 655px;
}
.gallary1 {
  top: 4219px;
  left: 643px;
}
.restaurant-website-child3,
.restaurant-website-child4,
.restaurant-website-child5 {
  position: absolute;
  top: 2087px;
  left: 647px;
  background-color: var(--color-firebrick);
  width: 474px;
  height: 9px;
}
.restaurant-website-child4,
.restaurant-website-child5 {
  top: 3341px;
  left: 665px;
}
.restaurant-website-child5 {
  top: 4296px;
  left: 653px;
}
.lorem-ipsum5 {
  position: absolute;
  top: 2643px;
  left: 522px;
  font-size: var(--font-size-9xl);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 348px;
  height: 51px;
}
.lorem-ipsum-dolor8 {
  position: absolute;
  top: 2694px;
  left: 521px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.lorem-ipsum6 {
  position: absolute;
  top: 2643px;
  left: 1232px;
  font-size: var(--font-size-9xl);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 348px;
  height: 51px;
}
.lorem-ipsum-dolor9 {
  position: absolute;
  top: 2694px;
  left: 1231px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.bread-icon2,
.bread2-icon2 {
  position: absolute;
  top: 2650px;
  left: 231px;
  border-radius: var(--br-3xs);
  width: 274px;
  height: 183.67px;
  object-fit: cover;
}
.bread-icon2 {
  left: 921px;
  height: 200px;
}
.lorem-ipsum-dolor10 {
  position: absolute;
  top: 2949px;
  left: 526px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.lorem-ipsum7 {
  position: absolute;
  top: 2898px;
  left: 1237px;
  font-size: var(--font-size-9xl);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 348px;
  height: 51px;
}
.lorem-ipsum-dolor11 {
  position: absolute;
  top: 2949px;
  left: 1236px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.icon2,
.shake1-icon2 {
  position: absolute;
  top: 2898px;
  left: 236px;
  border-radius: var(--br-3xs);
  width: 274px;
  height: 200px;
  object-fit: cover;
}
.shake1-icon2 {
  left: 925px;
}
.lorem-ipsum8 {
  position: absolute;
  top: 2389px;
  left: 524px;
  font-size: var(--font-size-9xl);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 348px;
  height: 51px;
}
.pizza2-icon3,
.pizza2-icon4,
.pizza2-icon5 {
  position: absolute;
  top: 2389px;
  left: 231px;
  border-radius: var(--br-3xs);
  width: 273.08px;
  height: 200px;
  object-fit: cover;
}
.pizza2-icon4,
.pizza2-icon5 {
  top: 4362px;
  left: 263px;
  width: 786px;
  height: 613px;
}
.pizza2-icon5 {
  top: 3407px;
  left: 236px;
  width: 1334px;
  height: 638px;
}
.lorem-ipsum-dolor12 {
  position: absolute;
  top: 2440px;
  left: 523px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.lorem-ipsum9 {
  position: absolute;
  top: 2389px;
  left: 1234px;
  font-size: var(--font-size-9xl);
  color: var(--color-goldenrod);
  display: flex;
  align-items: center;
  width: 348px;
  height: 51px;
}
.lorem-ipsum-dolor13 {
  position: absolute;
  top: 2440px;
  left: 1233px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 346px;
  height: 120px;
}
.pizza5-icon2,
.pizza5-icon3 {
  position: absolute;
  top: 2389px;
  left: 921px;
  border-radius: var(--br-3xs);
  width: 274px;
  height: 200px;
  object-fit: cover;
}
.pizza5-icon3 {
  top: 4362px;
  left: 1062px;
}
.chevron-left-1-icon,
.chevron-right-1-icon {
  position: absolute;
  top: 3657px;
  left: 1616px;
  width: 114px;
  height: 114px;
  overflow: hidden;
}
.chevron-left-1-icon {
  left: 96px;
}
.restaurant-website-child6 {
  position: absolute;
  top: 4102px;
  left: 840px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 18px;
  height: 18px;
}
.restaurant-website-child10,
.restaurant-website-child7,
.restaurant-website-child8,
.restaurant-website-child9 {
  position: absolute;
  top: 4102px;
  left: 867px;
  border-radius: 50%;
  background-color: var(--color-gray);
  width: 18px;
  height: 18px;
}
.restaurant-website-child10,
.restaurant-website-child8,
.restaurant-website-child9 {
  left: 894px;
}
.restaurant-website-child10,
.restaurant-website-child9 {
  left: 921px;
}
.restaurant-website-child10 {
  left: 948px;
}
.bread-icon3,
.bread2-icon3,
.icon3,
.shake1-icon3 {
  position: absolute;
  top: 4787px;
  left: 1062px;
  border-radius: var(--br-3xs);
  width: 274px;
  height: 183.67px;
  object-fit: cover;
}
.bread-icon3,
.icon3,
.shake1-icon3 {
  top: 4569px;
  height: 200px;
}
.bread-icon3,
.shake1-icon3 {
  top: 4362px;
  left: 1349px;
  height: 302px;
}
.shake1-icon3 {
  top: 4669px;
}
.location-xyz-xyz1 {
  position: absolute;
  top: 5416px;
  left: 322px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 487px;
  height: 43px;
}
.p2 {
  margin: 0;
}
.b1 {
  position: absolute;
  top: 5477px;
  left: 322px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 487px;
  height: 42px;
}
.location-icon1 {
  position: absolute;
  top: 5402px;
  left: 222px;
  width: 71px;
  height: 67px;
}
.lorem-ipsum-is3,
.phone-icon2 {
  position: absolute;
  top: 5490px;
  left: 228px;
  width: 55px;
  height: 53px;
}
.lorem-ipsum-is3 {
  top: 5182px;
  left: 222px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 640px;
  height: 181px;
}
.restaurant-website-child11 {
  position: absolute;
  top: 5106px;
  left: 660px;
  background-color: var(--color-firebrick);
  width: 499px;
  height: 9px;
}
.image-4-icon1 {
  position: absolute;
  top: 5182px;
  left: 893px;
  width: 685px;
  height: 438px;
  object-fit: cover;
}
.find-us2 {
  position: absolute;
  top: 5036px;
  left: 663px;
  font-size: var(--font-size-41xl);
  font-family: var(--font-quattrocento);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 474px;
  height: 52px;
}
.restaurant-website-child12 {
  position: absolute;
  top: 5818px;
  left: 44px;
  background-color: var(--color-black);
  width: 1719px;
  height: 262px;
}
.group-icon1 {
  position: absolute;
  height: 2.45%;
  width: 11.13%;
  top: 96.6%;
  right: 81.04%;
  bottom: 0.95%;
  left: 7.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b2 {
  position: absolute;
  top: 5937px;
  left: 1215px;
  letter-spacing: 0.09em;
  line-height: 40px;
  display: inline-block;
  width: 551px;
  height: 47px;
}
.mailidgmailcom1,
.phone-icon3 {
  position: absolute;
  top: 5952px;
  left: 1109px;
  width: 67px;
  height: 65px;
}
.mailidgmailcom1 {
  top: 5867px;
  left: 1059px;
  letter-spacing: 0.09em;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  width: 551px;
  height: 49px;
}
.envelope-icon1 {
  position: absolute;
  top: calc(50% + 2817px);
  left: calc(50% + 198px);
  width: 65px;
  height: 62px;
}
.restaurant-website-child13 {
  position: absolute;
  top: 0;
  left: 38px;
  background-color: var(--color-black);
  width: 1728px;
  height: 111px;
}
.about-us3,
.blogs1,
.find-us3,
.menu3,
.our-team1,
.testimony1 {
  position: absolute;
  top: 41px;
  left: 625px;
  font-size: var(--font-size-5xl);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159px;
  height: 28px;
}
.about-us3,
.blogs1,
.find-us3,
.our-team1,
.testimony1 {
  top: 43px;
  left: 739px;
  height: 27px;
}
.about-us3,
.find-us3,
.our-team1,
.testimony1 {
  top: 41px;
  left: 869px;
  height: 28px;
}
.about-us3,
.find-us3,
.our-team1 {
  left: 1013px;
}
.about-us3,
.our-team1 {
  left: 1154px;
}
.about-us3 {
  left: 490px;
}
.pizza-restaurant-txt-container1 {
  line-break: anywhere;
  width: 100%;
}
.pizza-restaurant2 {
  position: absolute;
  top: 30px;
  left: 58px;
  font-size: 29px;
  letter-spacing: 0.06em;
  display: flex;
  text-align: center;
  align-items: center;
  width: 333px;
  height: 51px;
  -webkit-text-stroke: 1px #000;
}
.image-4-icon2,
.image-5-icon2,
.rectangle-icon {
  position: absolute;
  top: 24.98px;
  left: 1487px;
  width: 98.44px;
  height: 79.21px;
  object-fit: cover;
}
.image-4-icon2,
.image-5-icon2 {
  top: 33px;
  left: 1663.02px;
  width: 47px;
  height: 51px;
}
.image-5-icon2 {
  top: 37px;
  left: 1585.02px;
  width: 52px;
  height: 44px;
}
.restaurant-website {
  position: absolute;
  top: calc(50% - 3021.5px);
  left: calc(50% - 864px);
  background-color: var(--color-black);
  width: 1728px;
  height: 6080px;
  overflow: hidden;
}
.desktop-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 6043px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-ruda);
}
